body {
	background-color: #fbeed7;
	color: #678a74;
	font-family: Helvetica;
	font-size: 16px;
	text-align: center;
}

h1, h2 {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;

}

h1 {
	color: #FB9E91;
	font-size: 35px;
	
}

h2 {
	color: #f7c5a8;
	font-size:24px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover {
	color: #0900c3;

}

.container{
	width: 777px;    
    margin: 99px auto; 
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 760px){
	.container {
		width: 600px;
	}
}

@media (max-width: 500px){
	.container {
		width: 400px;
	}
}
.card-white{
	background-color:#faf5e4;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(255,255,255,0.1);
	margin: 20px 0px;
	text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    
}
.img-circle{
	border-radius: 50%; }

.btn-black {
	background-color:#f1f9f9;
	color: black;
	padding: 15px 20px;
	border-radius: 4px;  }

.btn-black:hover{
	background-color:white;
	color: black;

}
.list-inline{
	list-style: none;
	padding-left: 0px;

}
.list-inline li {
	display: inline;
	padding: 10px;

}
.list-inline i {
	font-size: 50px;

}
.list-inline i:hover  {
	color: purple;
}
#introduction p{
 margin-bottom: 40px;
}

